
<div class="row">
    <div class="column">
        <h2>Devices:</h2>
        <select [(ngModel)]="selectedHost" (ngModelChange)="onHostChange()">
          <option *ngFor="let host of hosts" [ngValue]="host">
            {{ host.name }}
          </option>
        </select>        
    </div>

    <div class="column">
      <h2>Playbooks:</h2>
      <select [(ngModel)]="selectedPlaybook" [disabled]="!selectedHost">
        <option *ngFor="let playbook of playbooks" [ngValue]="playbook">
          {{ playbook.filename }}
        </option>
      </select>
  </div>

  <div class="column">
    <h2>Inventories:</h2>
    <select [(ngModel)]="selectedInventory">
      <option *ngFor="let inventory of inventories" [ngValue]="inventory">
        {{ inventory.filename }}
      </option>
    </select>
</div>
</div>

<div class="row">
    <textarea placeholder="Choose device and playbook..." [value]="result"></textarea>
</div>

<div class="row">
    <button (click)="play()">Play</button>
</div>

<div *ngIf="isLoading" class="loading-overlay">
  <div class="loader"></div>
</div>
