
<div class="row">
    <div class="column">
        <h2>Devices:</h2>
        <select (change)="onDeviceSelected($event)">
            <option *ngFor="let device of devicesNames" [value]="device">
              {{ device }}
            </option>
          </select>
    </div>
    
    <div class="column">
        <h2>Playbooks:</h2>
        <select [(ngModel)]="selectedPlaybook">
          <option *ngFor="let playbook of playbookNames; let i = index" [value]="i">
            {{ playbook }}
          </option>
        </select>
    </div>
</div>

<div class="row">
    <textarea placeholder="Choose device and playbook..." [value]="result"></textarea>
</div>

<div class="row">
    <button (click)="play()">Play</button>
</div>

<div *ngIf="isLoading" class="loading-overlay">
  <div class="loader"></div>
</div>
