.background-image {
    background-image: url('/assets/img/background.png');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Full height */
    width: 100%;   /* Full width */
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
}

.rounded-image {
    width: 155px;
    height: 155px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: fit-content;
    position: absolute;
    left: 10%;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    border-color: lightslategray;
}

input[type=submit], input[type=button]{
    margin-top: 15px;
    background-color: rgba(9, 0, 128, 0.603);
    color: white;
}

h1{
    margin: 0;
}