<div class="row">

    <div class="column">
        <h2>Playbooks:</h2>
        <select [(ngModel)]="selectedPlaybook" (change)="onPlaybookSelected($event)">
          <option *ngFor="let playbook of playbookNames; let i = index" [value]="i">
            {{ playbook }}
          </option>
        </select>
    </div>
</div>

<div class="row">
    <textarea placeholder="Choose playbook and edit..." [(ngModel)]="result"></textarea>
</div>

<div class="row">
    <button (click)="load()">Load playbook</button>
    <button (click)="save()" [disabled]="disableSaveButton">Save playbook</button>
</div>

<div *ngIf="isLoading" class="loading-overlay">
  <div class="loader"></div>
</div>